/*
* Bones CSS V0.10.0
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
  - Variables
  - Base Styles & Layout
  - Grid
  - Typography
  - Lists
  - Badges
  - Forms
  - Buttons
  - Links
  - Tables
  - Hr
  - Quote
  - Media
  - Details & Summary
  - Print
*/

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #fff;

  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #dfe1e6;
  --grey-400: #d1d5db;
  --grey-700: #42526e;
  --grey-800: #253858;
  --grey-900: #111827;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --yellow-light: #fef3c7;
  --yellow-dark: #78350f;

  --sans-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --radius-small: 3px;
  --radius: 4px;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--sans-font-family);
  color: var(--grey-900);
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  font-variant-numeric: tabular-nums;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
aside {
  display: grid;
  grid-gap: 10px;

  @media all and (min-width: 640px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  max-width: 68ch;
}
h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
p,
blockquote,
q,
li {
  max-width: 68ch;
}

var {
  font-style: normal;
  font-family: monospace, monospace;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--blue-700);
  padding: 0 2px;

  &:not([href]) {
    text-decoration: none;
  }

  &:where(:hover, :focus) {
    outline-color: currentColor;
    outline-offset: 3px;
    background-color: var(--blue-100);
    color: var(--blue-800);
  }
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
:where(ul, ol) {
  padding-left: 0;
}
:where(ul, ol) :where(ul, ol) {
  margin: 8px 0 8px 24px;
  font-size: 90%;
}

/* Badges
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code,
kbd {
  padding: 2px 6px;
  margin: 0 2px;
  font-size: 90%;
  white-space: nowrap;
  border-radius: var(--radius-small);
  text-decoration: none;
  font-family: inherit;
  font-variant-numeric: tabular-nums;
}

code {
  color: var(--grey-100);
  background-color: var(--grey-800);
  font-family: monospace, monospace;
}
kbd {
  color: var(--blue-700);
  background-color: var(--blue-100);
}
mark {
  color: var(--yellow-dark);
  background-color: var(--yellow-light);
  padding: 0 2px;
}

pre {
  overflow: auto;
  white-space: normal;
  font-family: inherit;
}
pre > * {
  display: block;
  padding: 10px 12px;
  white-space: normal;
  border-left: 3px solid currentColor;
}
pre > code {
  border-color: var(--grey-900);
  white-space: pre-wrap;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
fieldset {
  border: 1px solid var(--grey-300);
  border-radius: var(--radius);
  margin: 0;
  padding: 8px 16px 16px 16px;
}

label:not([for])
  :where(select, textarea, input:not([type='checkbox'], [type='radio'])) {
  width: 100%;
}

label:not([for]),
legend {
  display: block;
  margin-bottom: 4px;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  transition: all 0.225s;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 38px;
  padding: 0 12px;
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
  margin-bottom: 12px;
  border-radius: var(--radius);
  box-shadow: none;
}
:where(input, select, button, textarea):disabled {
  background-color: var(--grey-200);
  border: 1px solid var(--grey-200);
  cursor: not-allowed;
  opacity: 0.66;
}
textarea,
select[multiple] {
  min-height: 78px;
  line-height: 1.3;
  padding-top: 8px;
  padding-bottom: 8px;
}
input:where([type='checkbox'], [type='radio']) {
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding: 0;
  margin: 3px 3px 0 3px;
  transform: translateY(3px);
  min-width: initial;
  color: transparent;
  border-color: var(--grey-400);
}
input[type='checkbox'] {
  border-radius: var(--radius-small);
}
input[type='radio'] {
  border-radius: 50%;
}
input[type='radio']:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: currentColor;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
}
input[type='checkbox']:before {
  content: '';
  width: 16px;
  height: 8px;
  transform: rotate(-50deg);
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  position: absolute;
  top: 2px;
  left: 0;
}
input:where([type='checkbox'], [type='radio']):checked {
  background-color: var(--blue-700);
  border: 1px solid var(--blue-700);
  box-shadow: 0 0 0 1px var(--blue-700);
  color: var(--white);
}

:where(input, textarea, select):where(:hover, :focus):not(:disabled) {
  background-color: var(--white);
  border: 1px solid var(--blue-300);
  box-shadow: 0 0 0 1px var(--blue-300);
  outline: 0;
}

select:not([multiple]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M10.193 3.97a.75.75 0 0 1 1.062 1.062L6.53 9.756a.75.75 0 0 1-1.06 0L.745 5.032A.75.75 0 0 1 1.807 3.97L6 8.163l4.193-4.193z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
}

input:where([type='checkbox'], [type='radio']):hover {
  border: 1px solid var(--blue-300);
  box-shadow: 0 0 0 1px var(--blue-300);

  &:checked {
    background-color: var(--blue-700);
    border: 1px solid var(--blue-700);
    box-shadow: 0 0 0 1px var(--blue-700);
  }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
  background-color: var(--grey-200);
  border: none;
  border-radius: var(--radius);
  padding: 8px 14px;
  margin: 2px;
  cursor: pointer;
  color: var(--grey-800);
}

button:where(:hover, :focus):not(:disabled) {
  background-color: var(--grey-300);
  outline: 0;
}

button:focus:not(:disabled) {
  box-shadow: var(--white) 0px 0px 0px 2px, var(--grey-300) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

button[type='submit'] {
  color: var(--white);
  background-color: var(--blue-700);
}
button[type='submit']:where(:hover, :focus):not(:disabled) {
  color: var(--white);
  background-color: var(--blue-800);
}
button[type='submit']:focus:not(:disabled) {
  box-shadow: var(--white) 0px 0px 0px 2px, var(--blue-400) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--grey-300);
}
th,
td {
  padding: 6px 8px;
  text-align: left;
  border: 1px solid var(--grey-300);
}
th {
  font-weight: 600;
  background-color: var(--grey-100);
}

/* Hr
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: 24px 0;
  border-width: 0;
  border-top: 1px solid var(--grey-300);
}

/* Quotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote,
q {
  border-left: 3px solid var(--grey-200);
  margin-left: 0;
  padding-left: 24px;
}
cite {
  display: block;
  font-style: italic;
  color: var(--grey-700);
  font-size: 90%;
}

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
figure {
  margin-left: 0;
  margin-right: 0;
}
img,
video,
audio {
  max-width: 100%;
  margin-bottom: 8px;
}
video {
  display: block;
}
figure > img {
  margin-bottom: 0;
}
figcaption {
  font-style: italic;
  color: var(--grey-700);
}

/* Details & summary
–––––––––––––––––––––––––––––––––––––––––––––––––– */
details {
  padding: 12px 12px 0;
  border-radius: var(--radius);
  margin: 12px 0;

  &:where(:hover, :focus) {
    background-color: var(--grey-100);
    outline-color: var(--blue-700);
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
  }

  &[open] {
    padding: 12px;
    background-color: var(--grey-100);
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

summary {
  display: list-item;
  cursor: pointer;
  padding: 12px;
  margin: -12px -12px 0;
  color: var(--blue-700);

  :where(:hover, :focus) {
    text-decoration: underline;
    outline: none;
  }
}
details > :not(summary) {
  margin-top: 0;
}

/* Print
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media print {
  *,
  *:where(:hover, :focus) {
    color: #212121 !important;
    background-color: #fff !important;
  }

  nav {
    all: unset;
  }

  button,
  input,
  textarea,
  select,
  nav > a {
    border: 2px solid #646464 !important;
  }
}
